.read_flag0 {
  background-color: #fff3fa !important;
}


.notice-on{
  color:deeppink !important;

  span {
    background-color: deeppink;
  }
}


#notice-info {

    padding: 0px !important;

    li{
      padding: 0px !important;
      margin: 0 !important;

      border-bottom: 1px dashed #ccc;

      span {
        width: 200px;
        display: block;
      }

      a {
        padding: 10px;
        text-decoration: none;
        display: block;
        color:#666;
      }

      &:last-child , &.divider {
        border-bottom:none;
      }


    }

}


table.notice a {
  display: block;
}