.read_flag0 {
  background-color: #fff3fa !important;
}
.notice-on {
  color: deeppink !important;
}
.notice-on span {
  background-color: deeppink;
}
#notice-info {
  padding: 0px !important;
}
#notice-info li {
  padding: 0px !important;
  margin: 0 !important;
  border-bottom: 1px dashed #ccc;
}
#notice-info li span {
  width: 200px;
  display: block;
}
#notice-info li a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #666;
}
#notice-info li:last-child,
#notice-info li.divider {
  border-bottom: none;
}
table.notice a {
  display: block;
}
