<table class="table table-striped notice">
    <tr>
        <th>日付</th>
        <th>お知らせ</th>
    </tr>
<? foreach ($res as $v): ?>

    <tr class="read_flag<?=$v['Notice']['read_flag'];?>">
        <td>
            <?= $v['Notice']['created']; ?>
        </td>
        <td data-readid="<?= $v['Notice']['id']; ?>">
            <a href="<?= $v['Notice']['url']; ?>"><?= $v['Notice']['body']; ?></a>
        </td>
    </tr>



<? endforeach; ?>
</table>



<?=$this->element('pager'); ?>

